.my-btn{
    transform: scale(1);
    transition: transform .3s linear;
}
.my-btn:active {
    transform: scale(1.1);
}
.my-btn-disable{
    cursor: none;
    pointer-events: none;
    opacity: .4;
}

.my-btn-primary{
    @apply bg-primary-500 py-2 text-white
}

.my-btn-danger{
    @apply bg-red-400 py-2 text-white
}
.my-btn-danger-outline{
    @apply bg-transparent border border-red-400 hover:bg-red-400 hover:text-white border-solid text-red-400 py-2;
    transition: background-color .2s ease, color .2s ease;
    /*border: 1px solid red;*/
}
