.navbar{
    @apply z-1000;
}

.main-nav{
    transition: all .3s ease;
    transform-origin: top;
}
.main-nav a{
    color: #3a3a3a;
}

.navbar-transparent{
    background: transparent;
}

.navbar-transparent a{
    color: #eeeeee;
}
.logo{
    width: 250px;
}

@media screen and (max-width: 640px){
    .main-nav{
        top: 0;
        padding: 30px 10px;
        opacity: 0;
        transform: scaleY(0);
        @apply flex-col fixed w-full left-0 shadow-xl;
    }


    .navbar-transparent .main-nav.expand{
        background: rgba(54, 54, 54, 0.89);
        backdrop-filter: blur(8px);
    }
    .navbar-transparent .main-nav.expand a{
        color: #efefef;
    }
    .navbar-transparent .bar-icon{
        color: #eeeeee !important;
    }

    .main-nav.expand{
        transform: scaleY(1);
        opacity: 1;
        z-index: 200!important;
        background: white;
    }

    .main-nav.expand a {
        color: #414141;
    }

}

.header-height{
    height: var(--header-height);
}


.active{
    color: var(--primary-500)!important;
    font-weight: 500;
}