.navbar{
    z-index: 1000;
}

.main-nav{
    transition: all .3s ease;
    transform-origin: top;
}
.main-nav a{
    color: white;
}

.navbar-transparent{
    background: transparent;
}

.main-nav.expand{
    transform: scaleY(1);
    opacity: 1;
    z-index: 200!important;
    background: white;
}

@media screen and (max-width: 640px){
    .main-nav{
        top: 62px;
        background: white;
        opacity: 0;
        transform: scaleY(0);
        @apply flex-col fixed w-full left-0 shadow-xl;
    }
    .dark .main-nav {
        background: hsl(219 14% 22%);
    }
}

.header-height{
    height: var(--header-height);
}