#root {
  margin: 0 auto;
}


.read-the-docs {
  color: #888;
}

.container{
    max-width: 1360px;
    margin: auto;
    padding-left: 15px;
    padding-right:  15px
}

.section{
    @apply py-20;
}
.section_title{
    @apply text-3xl font-bold text-dark-700 text-center;
}
.section_sub-title{
    @apply text-sm font-semibold text-primary-500 text-center mb-2;
}
.card{
    @apply bg-white shadow-xxxs p-4
}